.App {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  
}



.wip {
  width: 270px;
  height: 450px;
  
  top: 10;
  
  border: 1px solid black;
}
.left {
  display: flex;
  
  width: 270px;
  height: 450px;
  justify-content: space-around;
  flex-direction: column;
  
}




.droppable {
  
  width: 270px;
  height: 450px;
  
  top: 10;
 
  border: 1px solid black;
}

